@import "tailwindcss";

@theme {
  --spacing-18: calc(var(--spacing) * 18);
}
:root {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-slate-400);
  background: var(--color-slate-800);
}
